In [13]:
import pandas as pd
import folium

In [2]:
data=pd.read_csv("aging_population.csv",encoding="utf-8-sig")
data

,Unnamed: 0,Unnamed: 0.1,지역,0∼4세,5∼9세,10∼14세,15∼19세,20∼24세,25∼29세,30∼34세,...,70∼74세,75∼79세,80∼84세,85∼89세,90∼94세,95∼99세,100세이상,lat,lng,지수
0,0,0,삼덕동,240,263,178,202,705,1140,667,...,195,179,114,68,25,5,7,35.865520,128.608888,122.76
1,1,1,동인동,134,212,233,262,545,963,612,...,523,438,278,143,57,11,13,35.871325,128.607249,347.15
2,2,2,성내1동,72,97,96,144,590,810,467,...,225,216,126,67,37,6,7,37.537347,127.127344,341.89
3,3,3,성내2동,67,67,80,117,346,492,306,...,317,249,149,77,31,10,15,37.532320,127.129428,573.36
4,4,4,성내3동,310,260,89,146,312,342,456,...,223,186,123,44,20,8,5,37.525987,127.132900,136.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,134,134,하빈면,22,39,34,27,56,57,53,...,120,150,146,94,20,6,1,35.900925,128.445486,720.00
135,135,135,옥포면,1461,1240,902,820,1262,1488,1783,...,977,709,473,222,62,8,0,35.789632,128.463792,107.72
136,136,136,현풍면,1328,1251,897,809,1238,1960,2247,...,763,566,405,200,62,10,3,35.697306,128.447621,86.36
137,137,137,유가면,2664,2844,1969,1341,1093,1420,2584,...,468,331,262,113,44,4,2,35.677420,128.455431,27.67
138,138,138,구지면,648,574,314,224,296,617,898,...,353,326,293,154,39,7,1,35.658823,128.413500,106.77

In [9]:
data['유아노인']=0

In [10]:
for i in range(len(data)):
    data.loc[i,'유아노인']=data.loc[i,'0∼4세']+data.loc[i,'5∼9세']
    data.loc[i,'유아노인']+=data.loc[i,'65∼69세']+int(data.loc[i,'70∼74세'])
    data.loc[i,'유아노인']+=data.loc[i,'75∼79세']+data.loc[i,'80∼84세']
    data.loc[i,'유아노인']+=data.loc[i,'85∼89세']+data.loc[i,'90∼94세']
    data.loc[i,'유아노인']+=data.loc[i,'95∼99세']+data.loc[i,'100세이상']

In [11]:
data

,Unnamed: 0,Unnamed: 0.1,지역,0∼4세,5∼9세,10∼14세,15∼19세,20∼24세,25∼29세,30∼34세,...,75∼79세,80∼84세,85∼89세,90∼94세,95∼99세,100세이상,lat,lng,지수,유아노인
0,0,0,삼덕동,240,263,178,202,705,1140,667,...,179,114,68,25,5,7,35.865520,128.608888,122.76,1339
1,1,1,동인동,134,212,233,262,545,963,612,...,438,278,143,57,11,13,35.871325,128.607249,347.15,2356
2,2,2,성내1동,72,97,96,144,590,810,467,...,216,126,67,37,6,7,37.537347,127.127344,341.89,1075
3,3,3,성내2동,67,67,80,117,346,492,306,...,249,149,77,31,10,15,37.532320,127.129428,573.36,1361
4,4,4,성내3동,310,260,89,146,312,342,456,...,186,123,44,20,8,5,37.525987,127.132900,136.12,1467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,134,134,하빈면,22,39,34,27,56,57,53,...,150,146,94,20,6,1,35.900925,128.445486,720.00,745
135,135,135,옥포면,1461,1240,902,820,1262,1488,1783,...,709,473,222,62,8,0,35.789632,128.463792,107.72,6582
136,136,136,현풍면,1328,1251,897,809,1238,1960,2247,...,566,405,200,62,10,3,35.697306,128.447621,86.36,5581
137,137,137,유가면,2664,2844,1969,1341,1093,1420,2584,...,331,262,113,44,4,2,35.677420,128.455431,27.67,7577
138,138,138,구지면,648,574,314,224,296,617,898,...,326,293,154,39,7,1,35.658823,128.413500,106.77,2862

1339
2356
1075
1361
1467
2330
1381
1141
2079
3522
2161
863
2630
3242
2599
3401
1990
4045
3134
1851
4274
4208
1213
6642
2762
4377
5069
4525
11322
2956
16645
5066
2193
3037
4212
2714
3176
2736
2000
2015
2986
2171
2179
2563
4632
526
1400
4924
2287
3933
2605
3398
4726
2946
3023
3167
3123
2155
2503
4063
2606
2602
1487
6091
1176
4642
4953
3289
3128
2607
1952
2316
1308
5687
5249
1912
7298
8838
4818
5239
6356
3733
5474
4885
4643
3842
3121
3580
3372
5874
2501
3632
5041
3015
3738
4851
2654
3095
4473
3963
2845
5692
4690
3736
3519
5939
5956
6885
6384
3972
2413
4638
5817
2962
3637
5480
5091
3887
3040
5602
8432
5193
17522
8237
4290
3476
7732
4789
4927
3205
10802
3822
20369
2878
745
6582
5581
7577
2862

In [27]:
map_osm=folium.Map(location=[35.798838,128.583052],zoom_start=14)

for i in range(len(data)):
    lat1=data.loc[i,'lat']
    lng1=data.loc[i,'lng']
    if data.loc[i,'유아노인']>10000:
        folium.CircleMarker([lat1,lng1],radius=10,popup=data.loc[i,'유아노인'],color='#1864ab', fill_color='#1864ab').add_to(map_osm)
    elif data.loc[i,'유아노인']>7000:
        folium.CircleMarker([lat1,lng1],radius=10,popup=data.loc[i,'유아노인'],color='#228be6', fill_color='#228be6').add_to(map_osm)
    elif data.loc[i,'유아노인']>4000:
        folium.CircleMarker([lat1,lng1],radius=10,popup=data.loc[i,'유아노인'],color='#4dabf7', fill_color='#4dabf7').add_to(map_osm)
    elif data.loc[i,'유아노인']>1000:
        folium.CircleMarker([lat1,lng1],radius=10,popup=data.loc[i,'유아노인'],color='#a5d8ff', fill_color='#a5d8ff').add_to(map_osm)
    elif data.loc[i,'유아노인']<1000:
        folium.CircleMarker([lat1,lng1],radius=10,popup=data.loc[i,'유아노인'],color='#e7f5ff', fill_color='#e7f5ff').add_to(map_osm)

In [24]:
map_osm.save('유아노인cluster.html')